.python-version
__pycache__
.vscode
project/itchat/@*
project/itchat/*.pkl
project/itchat/*.csv
chap2_variable/*.pdf
chap3_list/*.pdf
chap4_if/*.pdf
chap5_dict/*.pdf
chap6 input&while/*.pdf
chap7 function/*.pdf
chap8 oop/*.pdf
chap9 other/*.pdf
chap10 io/*.pdf
chap11 bulitinmodules/*.pdf
project/*.csv
project/*.tex
project/itchat/group_msg_format.txt
project/itchat/group_msg_format2.txt
itchat.pkl
project/builtlib/test.db
project/spider/lry.csv
chap12 accessdb/chap12 accessdb.pdf
project/spider/spider/url_manager.pyc
project/spider/spider/html_downloader.pyc
chap11 bulitinmodules/chap11 builtinmodules.html
chap13 web/chap13 web.pdf
chap14 python web framework/chap14 web_frame.pdf
chap15 async/chap15 async.pdf
project/.idea/*
