.python-version
__pycache__
.vscode
project/itchat/@*
project/itchat/*.pkl
project/itchat/*.csv
chap2_variable/*.pdf
chap3_list/*.pdf
chap4_if/*.pdf
chap5_dict/*.pdf
chap6 input&while/*.pdf
chap7 function/*.pdf
chap8 oop/*.pdf
chap9 other/*.pdf
chap10 io/*.pdf
chap11 bulitinmodules/*.pdf
project/*.csv
project/*.tex
project/itchat/group_msg_format.txt
project/itchat/group_msg_format2.txt
itchat.pkl
