<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }} - 微博客</title>
    {% else %}
    <title>欢迎访问微博客!</title>
    {% endif %}
</head>
<body>
    <div>微博客: 
        <a href="{{ url_for('index') }}">首页</a>
        <a href="{{ url_for('login') }}">登陆</a>
    </div>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
</body>
</html>